{% extends "base.html" %}
{% block content %}
<!-- Header-->
	<header class="bg-dark py-5">
	    <div class="container px-4 px-lg-5 my-5">
	        <div class="text-center text-white">
	            <h1 class="display-4 fw-bolder">B O A R D</h1>
	            <p class="lead fw-normal text-white-50 mb-0">we provide best thing ever in the world</p>
	        </div>
	    </div>
	</header>
	<br><br><br><br>
        <h2 align="center" font-family="var(--bs-font-sans-serif)"> 글쓰기 </h2>
        <br>
        <div class="container">
        <form method="post" action="writepro" name="writeform">
            {% csrf_token %}
            <input type="hidden" name="num" value="{{num}}">
            <input type="hidden" name="ref" value="{{ref}}">
            <input type="hidden" name="restep" value="{{restep}}">
            <input type="hidden" name="relevel" value="{{relevel}}">
            <table border="1" class="table new-1 new-2">
                <tr>
                    <th style="width:8%"> 작성자 </th>
                    <td> {{member.user_id}} </td>                
                </tr>
                <tr>
                    <th style="width:8%"> 제목 </th>
                    <td> <input type="text" name="subject"> </td>
                </tr>
                <tr>
                    <th style="width:8%"> 내용 </th>
                    <td>
                        <textarea name="content" rows="10" cols="150"></textarea>
                    </td>                   
                </tr>
                <tr>
                    <th style="width:8%"> 비밀번호 </th>
                    <td> <input type="password" name="passwd"> </td>
                </tr>
            </table>
            <tr>
                 <th colspan="2"  font-family="var(--bs-font-sans-serif)">
                 <div align="right">
		        <input type="submit" class="btn btn-outline-dark" value="작성">
		        <input type="reset" class="btn btn-outline-dark" value="취소">
		        <input type="button" class="btn btn-outline-dark" onclick="location='boardlist'" value="목록">
		        </div>
                 </th>
             </tr>  
        </form>
        </div>
        <br><br><br><br>  
{% endblock %}